header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header menu{
    display: flex;
}
header img{
    width: 200px;
}
.lesson-masthead{
    display: flex;
    justify-content: center;
}
.lesson-masthead h1{
    font-size: 20px;
}
a,button{
    text-decoration: none;
}
main img{
    width: 500px;
}
main{
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;

}
.image-section-one,.image-section-two{
    width: 30%;
}
.image-section-three{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    
}
.image-main{
    display: flex;
    justify-content: center;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
aside img{
    width: 400px;
}
aside article{
    width: 40%;
    

}
footer{
    display: flex;
    align-items: center;
    margin: 50px;
}
footer img{
    width: 200px;
}